*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.twitter__logo{
    height: 35px;
    width: 35px;
}

.left__sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.2;
    position:sticky;
    top:0;
    padding: 15px;
    height: 100vh;
    border:2px solid whitesmoke
}



.sidebar__menu > .tweet__btn{
    margin-top: 10px;
    width: 200px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
   text-align: center;
   background-color:#1DA1F2 ;
   color: #fff;
   outline: none;
   border: none;
   border-radius: 20px;
}

.tweet__btn:hover{
    cursor: pointer;
    background-color:#1398eb ;
}

.profile{

    display: flex;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    padding: 12px;
}

.profile:hover{

    background-color: #1da0f211;
    border-radius: 9999px;
    cursor: pointer;
    transition: 0.3s;
}

.profile .avatar__icon{
    margin-right: 10px;
}

.profile__name{
    margin-right: 20px;
}