*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon__title{
    display: flex;
    padding: 10px;
    max-width:200px
}

.icon__title > h3{
    margin-left: 15px;
 
}

.icon__title:hover{
    background-color: #1da0f211;
    border-radius: 9999px;
    color: #1DA1F2;
    cursor: pointer;
    transition: 0.3s;
}